<mat-toolbar>
  <button class="mx-2" mat-raised-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" #rla="routerLinkActive" [color]="rla.isActive ? 'primary' : 'secondary'" routerLink="/">Accueil</button>
  <button class="mx-2" mat-raised-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" #rla2="routerLinkActive" [color]="rla2.isActive ? 'primary' : 'secondary'" routerLink="/gestion">Gestion</button>
</mat-toolbar>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>